@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This site claims no ownership of any content, expressly or otherwise stated.
    All content is created by its individual users and is not the opinion of
    AudioCommune in any capacity. Content is moderated by the community - any
    discrepancy between legal and social standards are to be enforced in a
    reasonable timeframe in accordance to U.S. laws and regulations.
</p>
<br />

<p>
    No user info is utilized outside of this program; The information provided and comments
    posted are saved on internal servers and is not distributed to any parties,
    affiliates or associates. No information is sold, traded, bartered or otherwise
    provided to any group, individual or organization outside of AudioCommune.
    Data provided to AudioCommune is used solely for the purpose of providing this
    site/service. Information removed is unrecoverable. Any questions or requests
    should be made to the Administrator, and all requests are up to the sole
    discretion of the administrator.<br />
</p><br />

<p>
    All users are expected to adhere to proper laws and restrictions; violations will
    cause the removal of content, and continued infringements on these rules will be
    grounds for account/server deletion and IP bans. Servers are expected to maintain
    their content. Failure to do so may cause the deletion of a server without
    warning. Any questions or requests should be made to the Administrator, and all
    requests are up to the sole discretion of the administrator.<br />

</p>